.FooterLogin{
    position: fixed;
    background-color: black;
    height:70vh;
    width:100vw;
    margin-top: -2px;
}

.FooterContainer{
position: fixed;
bottom: 0;
height:70px;
width:100vw;
background-color: #181818;
color: white;
display:flex;
justify-content:space-between;
}
.FooterLeft{
flex:0.3;
display:flex;
align-items:center;
max-width:300px;
font-family: 'Source Sans Pro', sans-serif;
img{
    height:70px;
    width:60px;
    margin-right:  20px;
    object-fit:  contain;
}
}
.FooterCenter{
flex:0.4;
display:flex;
align-items: center;
justify-content: space-between;
max-width: 300px;
cursor: pointer;
 .repeat {
    color: #00ff00;
    transition: transform 200ms ease-in-out !important;
} 
 .shuffle {
    color: #00ff00;
} 
 .MuiSvgIcon-root:hover{
    transform: scale(1.2) !important;
    transition: transform 200ms ease-in-out !important;
}
}
.FooterRight{
flex:0.3;
display:flex;
align-items: center;
justify-content: center;
margin-right: 35px;

 .MuiSlider-root{
    color: #00ff00;
} 
}

@media(max-width: 500px) {
    .FooterRight .MuiSlider-root{
    display: none;
    }
    .MuiGrid-spacing-xs-2 > .MuiGrid-item{
        display: none;
    }
    .nameAlbum{
        margin-left: -12px;
    }
    .FooterCenter{
    margin-left: 50px;
    }
    .FooterRight{
        margin-left: 5px;
    }
}