.HeaderLogin{
   background-color: black;
    height:70px;
    width:100vw;
    margin-bottom: -2px;
}
.HeaderContainer{
display:flex;
justify-content: space-between;
background:#340034;
}
.HeaderLeft{
display: flex;
align-items: center;
flex:0.5;
min-width:75px;
background-color: transparent;
color: #181818;
border-radius: 30px;
padding: 10px;
margin-left: 15px;
input {
    border: 1px solid white;
    border-radius: 10px;
    width:20vw;    
    height:20px;
    margin-left:20px;
    background: url(../../../assets/static/search.png) no-repeat scroll 7px 7px;
    padding-left:30px;
    padding-top: 3px;
    color:white;
}
img{
    min-width: 100px;
    height: 60px;
    cursor: pointer;
    object-fit: contain;
}
}
.HeaderRight{
display: flex;
align-items: center;
margin-right: 10px;
cursor: pointer;
color: white;
font-family: 'Heebo', sans-serif;
h4{
    margin-left:6px;
    margin-right: 10px;
}
.BtnFavorite{
    margin-right: 3px;
    margin-top: 10px;
}
}

@media(max-width: 500px) {
    .HeaderContainer{
    margin-bottom: -1px;
    }
    .HeaderLeft{
    margin-left: 5px;
    img{
        width: 10px;
    }
    input {
        margin-left:10px ;
        min-width: 12vw;
    }
    }
    @media(max-width: 320px) {
        .HeaderRight{
            h4{
                display: none;   
            }
        }
    }
    
}